In [70]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [71]:
df = pd.read_csv("SBAnational.csv")

/tmp/ipykernel_202075/3536806131.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("SBAnational.csv")

## State

In [72]:
df.loc[(df["City"] == "PENNSVILLE") & (df["State"].isnull()), "State"] = "NY"
df.loc[(df["City"] == "JOHNSTOWN NY	") & (df["State"].isnull()), "State"] = "NY"
df.loc[(df["City"] == "CAMERON PARK") & (df["State"].isnull()), "State"] = "CA"
df.loc[(df["City"] == "WICHITA") & (df["State"].isnull()), "State"] = "KS"
df.loc[(df["City"] == "PALM BEACH GARDENS") & (df["State"].isnull()), "State"] = "FL"
df.loc[(df["City"] == "CASCO") & (df["State"].isnull()), "State"] = "WI"
df.loc[(df["City"] == "SOMERSET") & (df["State"].isnull()), "State"] = "WI"
df.loc[(df["City"] == "SALT LAKE CITY	") & (df["State"].isnull()), "State"] = "UT"
df.loc[(df["City"] == "LAKE OZARK	") & (df["State"].isnull()), "State"] = "MO"

In [73]:
df.loc[49244, "State"] = "NY"
df.loc[379174, "State"] = "UT"
df.loc[385418, "State"] = "MO"
df.loc[869948, "State"] = "TX"
df.loc[871847, "State"] = "TX"
df.loc[885335, "State"] = "TX"
df.loc[306274, "State"] = "HI"
df.loc[351072, "State"] = "TX"

In [74]:
df["State"].unique()
encoder = OneHotEncoder(sparse_output=False)
one_hot = encoder.fit_transform(df[['State']])
regions_encoded = pd.DataFrame(one_hot, columns=encoder.get_feature_names_out(['State']))
df = pd.concat([df, regions_encoded], axis=1)
df = df.drop(columns=['State'])

## Bank

In [75]:
df["BankCount"] = df["Bank"].map(df["Bank"].value_counts())

In [76]:
df["SmallBank"] = [1 if x < 1000 else 0 for x in df["BankCount"]]
df["MediumBank"] = [1 if x > 1000 and x < 10000 else 0 for x in df["BankCount"]]
df["BigBank"]= [1 if x > 10000 else 0 for x in df["BankCount"]]

In [77]:
df[["SmallBank", "MediumBank", "BigBank"]]

        SmallBank  MediumBank  BigBank
0               0           1        0
1               1           0        0
2               1           0        0
3               1           0        0
4               0           1        0
...           ...         ...      ...
899159          0           0        1
899160          0           0        1
899161          0           1        0
899162          0           1        0
899163          1           0        0

[899164 rows x 3 columns]

## Term

In [78]:
# df["term_atypique"] = (df["Term"] == 0).astype(int)

## NAICS

In [79]:
df["NAICS"].isnull().any()

np.False_

In [80]:
df['test'] = df['Name'].str.contains("CAFE|BAKERY|QUIZNO'S|PIZZA|MOTEL|SANDWICH|SUBS|CREAM|BAR A| BAR &|RESTAURANT|GRILL|HOT DOG|Deli|BURGER|BBQ|WOK|Thai|Taste of|Kitchen|COFFEE",case=False)
df['test3'] = df['Name'].str.contains('FARMS|FISHING|FORESTRY|POULTRY',case=False)
df['test4'] = df['Name'].str.contains('CHILD CARE|PRESCHOOL|FAMILY CLINIC|DENTAL|CHIROPRACTIC|MEDICAL|MD',case=False)
df['test5'] = df['Name'].str.contains('CONSTRUCTION|Build|CONCRETE|GLASS|Plumbing',case=False)
df['test8'] = df['Name'].str.contains('INSURANCE|FINANCE|BANK|INVESTMENTS|MORTGAGE|AGENCY',case=False)
df['test53'] = df['Name'].str.contains('ESTATE|Properties|Ventures|RENT',case=False)
df['test9'] = df['Name'].str.contains('TRANSPORT|TRUCKING|LIMOUSINE|Logistics|Movers|Supply Chain',case=False)
df['test10'] = df['Name'].str.contains('WASTE|SECURITY|LANDSCAPE|TRAVEL|CLEANING|LANDSCAPING',case=False)
df['test11'] = df['Name'].str.contains('MANUFACTURING|MACHINE|CUSTOM|PRECISION|TOOL',case=False)
df['test12'] = df['Name'].str.contains('WAREHOUS',case=False)
df['test13'] = df['Name'].str.contains('PAWN|JEWELRY|BRIDAL|GIFTS|FLOWERS|FLORAL|LIQUOR|MARKET|HARDWARE|STORE',case=False)
df['test14'] = df['Name'].str.contains('HAIR|BARBER|FUNERAL|SPA|COLLISION',case=False)
df['test16'] = df['Name'].str.contains('BOWLING|GOLF|Martial Arts|WEIGHT LOSS|GYM|HOBBY|FITNESS',case=False)
df['test22'] = df['Name'].str.contains('IRRIGATION',case=False)
df['test42'] = df['Name'].str.contains('TRADING|',case=False)
df['test51'] = df['Name'].str.contains('WIRELESS|COMMUNICATIONS',case=False)
df['test61'] = df['Name'].str.contains('LEARNING|SCHOOL',case=False)
df['test54'] = df['Name'].str.contains('VETERINARY|ANIMAL|HOSPITAL',case=False)
df['72'] = [72 if x==True  else 0 for x in df['test']]
df['53'] = [53 if x==True  else 0 for x in df['test']]
df['11'] = [11 if x==True  else 0 for x in df['test3']]
df['62'] = [62 if x==True  else 0 for x in df['test4']]
df['23'] = [23 if x==True  else 0 for x in df['test5']]
df['52'] = [52 if x==True  else 0 for x in df['test8']]
df['48'] = [48 if x==True  else 0 for x in df['test9']]
df['56'] = [56 if x==True  else 0 for x in df['test10']]
df['31'] = [31 if x==True  else 0 for x in df['test11']]
df['48'] = [48 if x==True  else 0 for x in df['test12']]
df['44'] = [44 if x==True  else 0 for x in df['test13']]
df['81'] = [81 if x==True  else 0 for x in df['test14']]
df['71'] = [71 if x==True  else 0 for x in df['test16']]
df['22'] = [22 if x==True  else 0 for x in df['test22']]
df['51'] = [51 if x==True  else 0 for x in df['test51']]
df['61'] = [61 if x==True  else 0 for x in df['test61']]
df['42'] = [42 if x==True  else 0 for x in df['test42']]
df['54'] = [54 if x==True  else 0 for x in df['test54']]

df['NAICS'] = np.where(df['NAICS'] == 0, df['72']+df['54']+df['42'] +df['61']+ df['51']+df['22']+df['53']+df['81']+df['11'] +df['62'] +df['23'] +df['52'] +df['48'] +df['56'] +df['31']+df['48']+df['44'] +df['81'] + df['71'], df['NAICS'])

In [81]:
df["NAICS"] = df['NAICS'].astype(str).str[0:2]

In [82]:
df['test16'].head(3)

0     True
1    False
2    False
Name: test16, dtype: object

In [83]:
# df['NAICS'] = np.where(df['NAICS'] == 0, , df['NAICS'])

## NewExist

In [84]:
df['NewExist'].unique()

array([ 2.,  1.,  0., nan])

In [85]:
df["CreateJob"].describe()

count    899164.000000
mean          8.430376
std         236.688165
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max        8800.000000
Name: CreateJob, dtype: float64

In [86]:
df["NewExist"].value_counts()

NewExist
1.0    644869
2.0    253125
0.0      1034
Name: count, dtype: int64

In [87]:
df["NewExist"] = df["NewExist"].fillna(0)

In [88]:
df["NewExist"] = df["NewExist"].replace(0, 1)

## ApprovalFY

In [89]:
df["ApprovalFY"] = df["ApprovalFY"].replace("1976A", "1976")

In [90]:
df['ApprovalFY'] = df['ApprovalFY'].astype(int)
df['Recession'] = [1 if x in [1973, 1974, 1980, 1981, 1982, 2001, 2007,2008] else 0 for x in df['ApprovalFY']]

## CreateJob

In [91]:
# creation_faible = df["CreateJob"].quantile(0.25) #les entreprises dont le nombre d'emplois créés est inférieur au 25ème percentile (les 25% les plus bas).
# creation_elevee = df["CreateJob"].quantile(0.75) #les entreprises dont le nombre d'emplois créés est superieur au 75ème percentile (les 25% les plus haut).
# creation_extreme = df["CreateJob"].quantile(0.95) #supérieur au 95eme percentile

## RetainedJob

## FranchiseCode

In [92]:
df["FranchiseCode"] = df["FranchiseCode"].apply(lambda x: 0 if x == 0 else 1)
#0 si ce n'est pas une franchise
#1 si c'est une franchise

## RevLine

In [93]:
df["RevLineCr"] = ["1" if x == "Y" or x == "1" else "0" for x in df["RevLineCr"]]

## LowDoc

In [94]:
# (0, 1, A, C, R, S); 
# Y = Y, 1
# N = 
# moins de 150k 1 page donc Y

In [95]:
df["DisbursementGross"] = df["DisbursementGross"].str.replace("$", "").str.replace(",", "").str.replace(" ","").astype(float)

In [96]:
df["LowDoc"] = [1 if x < 150000 else 0 for x in df["DisbursementGross"]]

## GrAppv

In [97]:
df["GrAppv"] = df["GrAppv"].str.replace("$", "").str.replace(",", "").str.replace(" ","").astype(float)

## MIS_Status

In [98]:
df["MIS_Status"] = df["ChgOffDate"].apply(lambda x: 0 if pd.notnull(x) else 1)

# MIS_Status = 0 si ChgOffDate est renseigné (prêt radié)
# MIS_Status = 1 si ChgOffDate est vide (prêt non radié)

In [99]:
df["SBA_Appv"] = df["SBA_Appv"].str.replace("$", "").str.replace(",", "").str.replace(" ","").astype(float)

In [100]:
df["SBA_Appv"].head(5)

0     48000.0
1     32000.0
2    215250.0
3     28000.0
4    229000.0
Name: SBA_Appv, dtype: float64

## Autres colonnes

In [101]:
df = df.drop(columns=['ApprovalFY','LoanNr_ChkDgt','Bank','BankState','Name', 'City', 'Zip', 'ApprovalDate','ChgOffDate','DisbursementDate','DisbursementGross','BalanceGross','ChgOffPrinGr', 'test', 'test3', 'test4', 'test5', 'test8', 'test53', 'test9', 'test10', 'test11', 'test12', 'test13', 'test14', 'test16', 'test22', 'test42', 'test51', 'test61', 'test54' ])

'72', '54', '42', '61', '51', '22', '53', '81', '11', '62', '23', '52', '48', '56', '31', '48', '44', '81', '71'

In [102]:
df.isna().any()

NAICS        False
Term         False
NoEmp        False
NewExist     False
CreateJob    False
             ...
51           False
61           False
42           False
54           False
Recession    False
Length: 86, dtype: bool

In [103]:
df.isna().any()[df.isna().any()]

BankCount    True
dtype: bool

In [104]:
df.to_csv("/home/sami/Documents/Dev_IA/Data-Scientist-US-SBA/dataset_cleaned.csv", index=False)